In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.metrics import mean_squared_error

In [2]:
index_names = ['unit_nr', 'time_cycles']
setting_names = ['setting_1', 'setting_2', 'setting_3']
sensor_names = ['s_{}'.format(i+1) for i in range(0,21)]
col_names = index_names + setting_names + sensor_names

In [3]:
train = pd.read_csv('train_FD001.txt', sep='\s+', header=None, 
                 names=col_names)
test = pd.read_csv('test_FD001.txt', sep='\s+', header=None, 
                 names=col_names)
y_test = pd.read_csv(('RUL_FD001.txt'), sep='\s+', header=None)

In [4]:
train[index_names].groupby('unit_nr').max().describe()

       time_cycles
count   100.000000
mean    206.310000
std      46.342749
min     128.000000
25%     177.000000
50%     199.000000
75%     229.250000
max     362.000000

In [5]:
def add_remaining_useful_life(df):
    # Get the total number of cycles for each unit
    grouped_by_unit = df.groupby(by="unit_nr")
    max_cycle = grouped_by_unit["time_cycles"].max()
    
    # Merge the max cycle back into the original frame
    result_frame = df.merge(max_cycle.to_frame(name='max_cycle'), left_on='unit_nr', right_index=True)
    
    # Calculate remaining useful life for each row
    remaining_useful_life = result_frame["max_cycle"] - result_frame["time_cycles"]
    result_frame["RUL"] = remaining_useful_life
    
    # drop max_cycle as it's no longer needed
    result_frame = result_frame.drop("max_cycle", axis=1)
    return result_frame

In [6]:
train = add_remaining_useful_life(train)
train[index_names+['RUL']]

       unit_nr  time_cycles  RUL
0            1            1  191
1            1            2  190
2            1            3  189
3            1            4  188
4            1            5  187
...        ...          ...  ...
20626      100          196    4
20627      100          197    3
20628      100          198    2
20629      100          199    1
20630      100          200    0

[20631 rows x 3 columns]

In [7]:
drop_sensors = ['s_1','s_5','s_16','s_18','s_19']  # s_6 and s_10 get the benefit of the doubt
drop_labels = index_names+setting_names+drop_sensors
remaining_sensors = ['s_2', 's_3', 's_4', 's_6', 's_7', 's_8', 's_9', 's_10',
       's_11', 's_12', 's_13', 's_14', 's_15', 's_17', 's_20', 's_21']

In [8]:
X_train = train.drop(drop_labels, axis=1)
y_train = X_train.pop('RUL')

In [9]:
X_test = test.groupby('unit_nr').last().reset_index().drop(drop_labels, axis=1)

In [10]:
X_test

,s_2,s_3,s_4,s_6,s_7,s_8,s_9,s_10,s_11,s_12,s_13,s_14,s_15,s_17,s_20,s_21
0,642.58,1581.22,1398.91,21.61,554.42,2388.08,9056.40,1.3,47.23,521.79,2388.06,8130.11,8.4024,393,38.81,23.3552
1,642.55,1586.59,1410.83,21.61,553.52,2388.10,9044.77,1.3,47.67,521.74,2388.09,8126.90,8.4505,391,38.81,23.2618
2,642.88,1589.75,1418.89,21.61,552.59,2388.16,9049.26,1.3,47.88,520.83,2388.14,8131.46,8.4119,395,38.93,23.2740
3,642.78,1594.53,1406.88,21.61,552.64,2388.13,9051.30,1.3,47.65,521.88,2388.11,8133.64,8.4634,395,38.58,23.2581
4,642.27,1589.94,1419.36,21.61,553.29,2388.10,9053.99,1.3,47.46,521.00,2388.15,8125.74,8.4362,394,38.75,23.4117
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,642.30,1590.88,1397.94,21.61,553.99,2388.03,9062.41,1.3,47.14,522.30,2388.01,8148.24,8.4110,391,38.96,23.4606
96,642.59,1582.96,1410.92,21.61,554.05,2388.06,9076.36,1.3,47.38,521.58,2388.06,8155.48,8.4500,395,38.61,23.2953
97,642.68,1599.51,1415.47,21.61,553.44,2388.13,9062.34,1.3,47.66,521.53,2388.09,8146.39,8.4235,394,38.76,23.3608
98,642.00,1585.03,1397.98,21.61,554.75,2388.01,9067.16,1.3,47.26,521.82,2388.02,8150.38,8.4003,391,38.95,23.3595
99,642.95,1601.62,1424.99,21.61,552.48,2388.06,9155.03,1.3,47.80,521.07,2388.05,8214.64,8.4903,396,38.70,23.1855

In [11]:
ann = tf.keras.models.Sequential()

In [12]:
ann.add(tf.keras.layers.Dense(units=1000, activation='relu'))

In [13]:
ann.add(tf.keras.layers.Dense(units=250, activation='relu'))
ann.add(tf.keras.layers.Dense(units=50, activation='relu'))
ann.add(tf.keras.layers.Dense(units=10, activation='relu'))
ann.add(tf.keras.layers.Dense(units=1))

In [14]:
ann.compile(optimizer = 'adam', loss = 'mean_squared_error')

In [15]:
ann.fit(X_train, y_train ,batch_size = 32, epochs = 60,verbose=2)

Epoch 1/60
645/645 - 2s - loss: 5293.1206 - 2s/epoch - 3ms/step
Epoch 2/60
645/645 - 2s - loss: 4837.9404 - 2s/epoch - 2ms/step
Epoch 3/60
645/645 - 1s - loss: 4842.8267 - 1s/epoch - 2ms/step
Epoch 4/60
645/645 - 1s - loss: 4810.9771 - 1s/epoch - 2ms/step
Epoch 5/60
645/645 - 2s - loss: 4821.3994 - 2s/epoch - 2ms/step
Epoch 6/60
645/645 - 1s - loss: 4808.9697 - 1s/epoch - 2ms/step
Epoch 7/60
645/645 - 1s - loss: 4832.2524 - 1s/epoch - 2ms/step
Epoch 8/60
645/645 - 2s - loss: 4818.2329 - 2s/epoch - 2ms/step
Epoch 9/60
645/645 - 2s - loss: 4825.5117 - 2s/epoch - 3ms/step
Epoch 10/60
645/645 - 2s - loss: 4820.6665 - 2s/epoch - 3ms/step
Epoch 11/60
645/645 - 2s - loss: 4833.9873 - 2s/epoch - 3ms/step
Epoch 12/60
645/645 - 2s - loss: 4799.8174 - 2s/epoch - 3ms/step
Epoch 13/60
645/645 - 2s - loss: 4844.4795 - 2s/epoch - 3ms/step
Epoch 14/60
645/645 - 2s - loss: 4798.3545 - 2s/epoch - 2ms/step
Epoch 15/60
645/645 - 1s - loss: 4805.9478 - 1s/epoch - 2ms/step
Epoch 16/60
645/645 - 1s - loss: 4785.1138 - 1s/epoch - 2ms/step
Epoch 17/60
645/645 - 2s - loss: 4785.9072 - 2s/epoch - 3ms/step
Epoch 18/60
645/645 - 2s - loss: 4789.5596 - 2s/epoch - 3ms/step
Epoch 19/60
645/645 - 2s - loss: 4770.9771 - 2s/epoch - 2ms/step
Epoch 20/60
645/645 - 2s - loss: 4776.5430 - 2s/epoch - 3ms/step
Epoch 21/60
645/645 - 1s - loss: 4779.1611 - 1s/epoch - 2ms/step
Epoch 22/60
645/645 - 1s - loss: 4775.2778 - 1s/epoch - 2ms/step
Epoch 23/60
645/645 - 2s - loss: 4768.0576 - 2s/epoch - 2ms/step
Epoch 24/60
645/645 - 2s - loss: 4771.9604 - 2s/epoch - 3ms/step
Epoch 25/60
645/645 - 2s - loss: 4763.8174 - 2s/epoch - 3ms/step
Epoch 26/60
645/645 - 2s - loss: 4778.7793 - 2s/epoch - 3ms/step
Epoch 27/60
645/645 - 2s - loss: 4767.1660 - 2s/epoch - 3ms/step
Epoch 28/60
645/645 - 2s - loss: 4738.6846 - 2s/epoch - 3ms/step
Epoch 29/60
645/645 - 2s - loss: 4760.3257 - 2s/epoch - 3ms/step
Epoch 30/60
645/645 - 2s - loss: 4757.0923 - 2s/epoch - 3ms/step
Epoch 31/60
645/645 - 2s - loss: 4757.3389 - 2s/epoch - 3ms/step
Epoch 32/60
645/645 - 2s - loss: 4746.5835 - 2s/epoch - 3ms/step
Epoch 33/60
645/645 - 2s - loss: 4732.5464 - 2s/epoch - 3ms/step
Epoch 34/60
645/645 - 2s - loss: 4735.4585 - 2s/epoch - 3ms/step
Epoch 35/60
645/645 - 2s - loss: 4723.3530 - 2s/epoch - 3ms/step
Epoch 36/60
645/645 - 2s - loss: 4727.3716 - 2s/epoch - 3ms/step
Epoch 37/60
645/645 - 2s - loss: 4702.7559 - 2s/epoch - 3ms/step
Epoch 38/60
645/645 - 1s - loss: 4681.7886 - 1s/epoch - 2ms/step
Epoch 39/60
645/645 - 2s - loss: 4647.6494 - 2s/epoch - 3ms/step
Epoch 40/60
645/645 - 2s - loss: 4655.9453 - 2s/epoch - 3ms/step
Epoch 41/60
645/645 - 2s - loss: 4598.8218 - 2s/epoch - 2ms/step
Epoch 42/60
645/645 - 1s - loss: 4552.9146 - 1s/epoch - 2ms/step
Epoch 43/60
645/645 - 2s - loss: 4483.1660 - 2s/epoch - 3ms/step
Epoch 44/60
645/645 - 2s - loss: 4228.0488 - 2s/epoch - 3ms/step
Epoch 45/60
645/645 - 2s - loss: 3882.1653 - 2s/epoch - 3ms/step
Epoch 46/60
645/645 - 2s - loss: 3691.6780 - 2s/epoch - 2ms/step
Epoch 47/60
645/645 - 1s - loss: 3250.8792 - 1s/epoch - 2ms/step
Epoch 48/60
645/645 - 2s - loss: 3159.0393 - 2s/epoch - 3ms/step
Epoch 49/60
645/645 - 2s - loss: 3137.1062 - 2s/epoch - 3ms/step
Epoch 50/60
645/645 - 2s - loss: 3018.2571 - 2s/epoch - 3ms/step
Epoch 51/60
645/645 - 2s - loss: 3161.5059 - 2s/epoch - 3ms/step
Epoch 52/60
645/645 - 2s - loss: 3091.6716 - 2s/epoch - 3ms/step
Epoch 53/60
645/645 - 2s - loss: 2964.7502 - 2s/epoch - 3ms/step
Epoch 54/60
645/645 - 2s - loss: 2938.2432 - 2s/epoch - 3ms/step
Epoch 55/60
645/645 - 2s - loss: 2856.1213 - 2s/epoch - 3ms/step
Epoch 56/60
645/645 - 2s - loss: 2806.6177 - 2s/epoch - 3ms/step
Epoch 57/60
645/645 - 2s - loss: 2861.1833 - 2s/epoch - 3ms/step
Epoch 58/60
645/645 - 2s - loss: 2861.2759 - 2s/epoch - 3ms/step
Epoch 59/60
645/645 - 2s - loss: 2778.5303 - 2s/epoch - 3ms/step
Epoch 60/60
645/645 - 2s - loss: 2850.3157 - 2s/epoch - 3ms/step

In [16]:
ann_pred = ann.predict(X_test)

4/4 [==============================] - 0s 1ms/step

In [17]:
from sklearn.metrics import r2_score

In [18]:
r2_score(y_test,ann_pred)

0.33880462261821676